<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ADJ Driver Improvement Center</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/master.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
</head>

<body>

  <div class="container" id="header">
    <div class="row">

      <div class="col-4" id="col_1">
        <a href="/">
          <label class="class_header">Home</label>
        </a>
      </div>

      <div class="col-4" id="col_2">
        <a href="tel:+17037308525">
          <label class="class_header">Call Us</label>
        </a>
      </div>

      <div class="col-4" id="col_3">
        <a href="mailto:adj23@comcast.net">
          <label class="class_header">Email Us</label>
        </a>
      </div>

      <div>
      </div>

      <div class="container">
        <h1 class="display-5" id="class-page-header">ADJ Classes</h1>
        <div class="grid">

          <div class="card class_card">
            <img class="card-img-top classes_images"
              src="/images/iconfinder_Speeding_Ticket-speed-policing-law-enforcement_4498991.png" alt="Card image cap">
            <div class="card-body">
              <h3 class="classes-header">In-Person Driver Improvement Class</h3>
              <p>At ADJ Driver Improvement Center in Woodbridge, Virginia, we try to make your Driver Improvement
                Clinic experience as easy as possible. All Driver Improvement Clinics are $65.00, regardless of the
                format you choose. We are one of the few schools that have a dedicated office with multiple classrooms,
                therefore we never have to cancel our classes. If you find that you need a class last minute or maybe
                you have just procrastinated…… Come on in, walk-ins are always welcome!</p>
              <p>In-Person Classes: We offer in-person Driver Improvement Clinics as one-day classes, on Saturday or
                Sunday. We also offer a full eight hour class during the week on a Wednesday.</p>
              <p>Saturday or Sunday Classes: We offer Driver Improvement classes every Saturday and every other Sunday.
                These classes are one-day classes, they begin at 8:30 a.m. and finish at 5:00 p.m. All components of
                the class, including the final exam and certificate are handled in- house, same day. When you leave our
                class, you have everything you need, in-hand.</p>
              <p>Wednesday Classes: We offer Driver Improvement Classes on Wednesdays, twice each month. These classes
                are one-day classes,they begin at 8:30 a.m. and finish at 5:00 p.m. Just like our weekend classes, all
                components of this class including the final exam and certificate are handled in-house.</p>
              <p>Please check our schedule below for upcoming classes</p>
              <p>The Virginia Driver Improvement Clinic is a program that will award you 5 safe driving points upon
                completion. You may also participate in a class under the advisement of a judge, to reduce or dismiss a
                ticket. You may need to complete a class if any of the reasons below apply:</p>
              <p>DMV:
                You have received a letter in the mail from the DMV requiring you to take a Driver Improvement Clinic
                or Defensive Driving Class at an approved driving school within 90 days or your license will be
                suspended. Completion and submission of the class from an approved driving school before your due date
                ensures uninterrupted driving privileges and relieves you from paying the $175.00 re-instatement fee.
                You are trying to re-instate your license or your ability to get a license.</p>
              <p>Court:
                You have ALREADY been to court and have been given the option of taking an approved Driver Improvement
                Course at a driving school of your choice to have your ticket dismissed or reduced.</p>
              <p>Voluntary:
                You would like to lower the points on your driving record for personal reasons like a job opportunity
                or for insurance requirements. You are eligible to voluntarily take the class every two years.
                On your own or with legal advisement you have decided to take a Driver Improvement Class before or
                after a court appearance.</p>
              <p>*All requirements of the Driver Improvement Course are completed the same day of class AND completion
                certificate is issued the same day. We electronically file all DMV required and Voluntary completion of
                class with the Department of Motor Vehicles.*</p>
              <p>Walk-ins are always welcome.
                (don’t forget your Driver’s License, course fee is collected in cash or money order only)</p>
              <br>
              <div>
                <h2 class="calendar"><a href="https://app.acuityscheduling.com/schedule.php?owner=19202093">Register for
                    class</a></h2>
              </div>

            </div>
          </div>

          <!-- <div class="card class_card" id="online">
            <img class="card-img-top classes_images" src="/images/iconfinder_online_course_teaching-study-class-learning_5867932.png"
              alt="Card image cap">
            <div class="card-body">
              <h3>Online Driver Improvement Class</h3>
              <p>ADJ Driver Improvement Center in Woodbridge, Virginia offers a convenient online Driver Improvement
                Clinic that is approved by the Virginia Department of Motor Vehicles and accepted by all courts that
                will allow online classes. Taking your Driver Improvement Course with us ensures that your traffic
                school experience is handled efficiently and correctly the first time.</p>
              <p><em>All requirements for our online class are handled in two easy steps: Complete your online class
                  WHEREVER and WHENEVER you please, then complete the test ONLINE and receive your completion
                  certificate.</em> </p>
              <p>Our online driver improvement class works on all devices for added convenience.</p>
              <p>Our class is a flat fee of $65.00 (no taxes and no extra “certificate or processing fees”), and can be
                paid using PayPal.</p>
              <p>We notify DMV of all Voluntary and DMV mandated class completions. Completion is electronically filed
                with-in 24 hours. Completion can not be filed until the test is completed and the class is paid for
                using PayPal. If you are unable to use PayPal, you can make an appointment to pay in person at our
                Woodbridge, VA office.</p>
              <p>It is your responsibility to determine if your court accepts this computer-based Driver Improvement
                Course to satisfy a court required Driver Improvement Course. All Northern VA courts are accepting
                online completions at this time.</p>
              <p>If you do not pass your final exam, DMV requires a 24 wait until you may test again. There are no
                additional fees for re-testing.</p> -->
          <!-- 


              <p>Pay attention and study up! Exams are NOT open book.</p>
              <p>We cannot issue a completion certificate or any other paperwork until you have passed your final exam.
              </p>
              <p>If you do not pass your final exam, DMV requires a 24 wait until you may test again. There are no
                additional fees for re-testing.</p>
              <p><em>If you are under age 20, this computer-based Driver Improvement Clinic WILL NOT satisfy a Driver
                  Improvement Clinic requirement.</em></p>
              <p><em>You must satisfactorily complete a clinic that provides classroom instruction.</em></p> -->
          <!-- <br>
              <div>
                <h2 class="calendar"><a href="https://www.va-drivercourses.com/clickIn.php?school=59">Start Now</a></h2>
              </div>
            </div>
          </div> -->

          <div class="card class_card" id="3-times">
            <img class="card-img-top classes_images" src="/images/driver-manual-icon.png" alt="Card image cap">
            <div class="card-body">
              <h3>Failed DMV Test 3 Times Class/Permit Class (On-Line)</h3>
              <p>If you have unfortunately failed a test at the Virginia DMV three times while trying to acquire a
                Learners Permit or reinstate your Driver License, this is the class that is required.
              </p>
              <p>The Driver Manual Course / 3 Failures Class needs to be 8 hours of instruction to satisfy the DMV’s
                requirements and is basically a highly concentrated study period. In this class we try to cover
                everything
                that could possibly be asked on the test, as well as preparing you to be as familiar as possible with
                the
                info contained in the DMV Manual.
              </p>
              <p>Our class is taken and completed entirely on-line and is self-paced. The class does not have to be
                completed at one time, you can complete as much or as little of the class in a day as you like. Once you
                have completed the 8 Hour Driver Manual/3 Failures Permit Class, you will have an unlimited number of
                chances to pass the test at the DMV.
              </p>
              <h3 style="padding-top:40px;">
                How to Register for the Class
              </h3>

              <ol>
                <li>
                  <p>1. The first step is to register for the class by clicking “Register for class” at the bottom of
                    this
                    section.
                  </p>
                </li>
                <li>
                  <p>2. As soon as we receive your registration, we will send you a link to make your payment.
                  </p>
                </li>
                <li>
                  <p>
                    3. Once payment is made for the class, we will send you a link so you can register and access
                    theclass
                    anytime you like. The class is available for you to access 24 hours a day so that you maycomplete
                    sections of the class whenever you are able to.
                  </p>
                </li>
              </ol>

              </p>
              <p>As soon as your class is completed, we will send your completion certificate to your email as a PDF.
                This
                PDF must be downloaded to a computer or flash drive then printed. You can then take this certificate to
                the DMV and resume testing for your Learners Permit/License. At this point you will have as many
                opportunities to pass the test as needed.
              </p>

              <p>
                The cost of the class is a flat fee of $125.00 (no additional fees or taxes)
              </p>
              <p>
                We use PayPal to collect on-line payments, but you do not need a PayPal account. You can use any credit
                or debit card.
              </p>
              <h3 style="padding-top:40px;">
                Who is approved to take this online class?
              </h3>
              <p>
                This class is approved by the Virginia DMV for ALL ages.
              </p>
              <p>
                This class is primarily for those that are 18 years old and older.
              </p>
              <p>**If you are less than 18 years old and a required to take a class before returning to the DMV, you
                can take this 8-hour Driver manual class if you have completed the 36 Hour classroom portion of Driver
                Education in High school. Proof that you have completed the 36-hour classroom is required if you are
                younger than 18, you would need the “PINK Classroom Completion Certificate”. This is the certificate
                that should have been issued upon completion of the 36-hour classroom when you were in 10th grade. If
                you need one re-issued, the high school P.E. department will usually issue you a duplicate if
                necessary.
              <h3 style="padding-top:40px;">
                Please do not hesitate to call us or send us an email if you have any questions! We are a local small
                business, and your calls are answered by the staff of ADJ Driver Improvement Center.
              </h3>
              <div>
                <h2 class="calendar"><a href="https://app.acuityscheduling.com/schedule.php?owner=19202093">Register for
                    class</a></h2>
              </div>

            </div>
          </div>

          <!-- <div class="card class_card" id="reckless">
            <img class="card-img-top classes_images" src="/images/iconfinder_stress-bomb-pressure-strain-mad_4383933.png"
              alt="Card image cap">
            <div class="card-body">
              <h3>4-hour Reckless/Aggressive Class</h3>
              <p>At ADJ Driver Improvement Center, we try to offer the 4-hour Reckless/Aggressive Class in the most
                convenient format as possible. This class is offered only in the evenings and it is completed in one
                trip to our office. The cost of this class is $50.00 and class times are from 6pm – 10pm. We offer this
                class on different weeknights throughout the month so that hopefully we can be in session on a night
                that you have available.
                A 4-hour Reckless/Aggressive Class is sometimes requested by attorneys or by the courts in certain
                counties/cities in addition to an 8-hour Driver Improvement Course to have a ticket dismissed or
                reduced.
              </p>
              <p>If you have been to court already, or, are preparing to go to court in the future and have been told
                that you need to complete a combined 12-hour class, this is the second part of that requirement. This
                class does not award you any positive points on your Driving Record, but does work as an additional
                bargaining tool on your behalf to let the court know you have made an attempt to correct the issue that
                might have led to your ticket.
              </p>
              <p>All aspects of the class are completed in the same visit, and the completion certificate will be
                issued the same evening that you attend class.
              </p>
              <p>If you have any questions, please do not hesitate to give us a call!
              </p>
              <div>
                <h2 class="calendar"><a href="https://app.acuityscheduling.com/schedule.php?owner=19202093">View
                    Schedule</a></h2>
              </div>
            </div>
          </div> -->

          <div class="card class_card" id="espanol">
            <img class="card-img-top classes_images" src="/images/iconfinder_83_4863661.png" alt="Card image cap">
            <div class="card-body">
              <h3>Clases en Español</h3>
              <p> Por clases en español por favor llama al número
              <p><a href="tel:+15712851521">
                  <label class="label_no_padding">571 285-1521</label>
                </a>
              </p>

              <p>La Escula de Manejo ADJ en Woodbridge ofrece todas las clases para ayudar a las personas con el
                proceso de concesión de licencias. Para servir mejor a nuestra comunidad, ofrecemos algunas clases
                para quienes el español es su idioma principal.</p>
              <p><em>Clase de 3 Fallas/Clase del Manual del Conductor</em>
                Esta clase es para aquellos que están tratando de obtener un permiso de aprendiz y no han logrado
                pasar la parte de los signos de la prueba o el conocimiento general. Esta es también la clase para
                aquellos que han fallado su prueba 3 veces al intentar restablecer una licencia de conducir de
                Virginia suspendida o vencida.</p>
              <p><em>Examen Practico del DMV/ Clase de Bypass/evitar el DMV</em> ADJ Driver Improvement Center es un
                centro de pruebas de terceros para el DMV. Esta clase ayuda con el proceso de convertir un permiso de
                aprendiz de Virginia en una licencia de conducir. La finalización de esta clase le permite realizar
                pruebas con nuestro instructor en su idioma principal y evitar
                tener que tomar su Examen final de habilidades en carretera en el DMV. Esta clase también le permite
                omitir el período de retención de 60 días en un permiso de aprendizaje.</p>
              <p> Para obtener más información, comuníquese con nuestro instructor que habla español, Sr. Jean
                Carminati al<a href="tel:+15712851521" id="spanish_a_tag">
                  <label class="label_no_padding">571 285-1521</label></a>
                </a>Si no está disponible para responder, deje un mensaje y rápidamente le devolverá la llamada.</p>
              <p>NO OFRECEMOS clases de CDL o Motocicleta</p>

              <div>
                <h2 class="calendar"><a href="https://app.acuityscheduling.com/schedule.php?owner=19202093">Registrarse
                    para la clase</a></h2>
              </div>

            </div>
          </div>

          <div class="card class_card" id="in-car">
            <img class="card-img-top classes_images"
              src="/images/iconfinder_Driver_License-Id-License-Transport-Identification_5917197.png"
              alt="Card image cap">
            <div class="card-body">
              <h3>In-Car Driver Training</h3>
              <p>At ADJ Driving School in Woodbridge, VA, we provide in-car training for both adults & teenagers.
                With these classes, our main goal is to prepare you for driving in one of the most populated areas in
                the country.
                The Virginia DMV separates these drivers into two categories and the requirements for each are very
                different.
              </p>
              <p>Teenagers (Minors) Age 15- 17
                These students are required to hold a learners permit for 9 months, and are required to take both the
                36 period classroom component of driver education as well as the 14 period in-car component.
              </p>
              <p>The Classroom component is usually offered in public school during 10th grade health/P.E. Upon
                completion of this class you must also complete a 90- minute seminar with a parent. Once you have
                completed these two requirements you should be issued a “PINK Classroom Completion Certificate”.
                ***You must have your “PINK Classroom Completion Certificate” in hand to start the In-Car/Behind the
                Wheel portion.***
                The Behind the Wheel/In-Car portion of Driver Education must contain 7 – 50 minute periods of driving
                and 7 – 50 minute periods of observation. Each student receives 1 – 50 minute period of driving and
                1-50 minute period of observation per session. The class will usually be comprised of 7 -2 hour
                classes. The price of Behind The Wheel for teenagers is $275.00. If you have a question, please do not
                hesitate to call our office at 703 730-8525.
              </p>
              <p>Adults – Age 18 & Older
                If you are interested in receiving some instructional driving or would like to take (what is typically
                referred to as a Bypass-Class), we do offer these services as well. Students 18 & older are typically
                required to hold a Learners Permit for 60 days. The only exception to this rule is to complete a Bypass
                Class/Adult Waiver Class.
              </p>
              <p>Instructional Driving
                This is a package deal that will help to prepare you for your Final Road Examination/Driving Test at
                the DMV. We offer SIX hours of instruction for $275.00 or EIGHT hours of instruction for $350.00. These
                classes will typically be broken up into 4-6 lessons of about 1.5 hours per lesson.
              </p>
              <p>Bypass Class
                If you would like to Bypass the 60 Day holding for a learners permit or just avoid having to take your
                final road examination at the DMV you must complete the same requirements of driver education that a
                teenager would need to complete. This class consists of 12 hours of one on one instruction, as well as
                our instructor providing the Final Road Examination. When the student completes the required time and
                road test successfully, they will be issued a DMV Adult Waiver. The DMV Adult Waiver allows you to
                avoid holding your learners permit for 60 days as well as avoiding the final road examination at the
                DMV. The cost of this class is $450.00. If you have any questions, please don not hesitate to call our
                office at 703 730-8525.
              </p>
              <div>
                <h2 class="calendar"><a href="https://app.acuityscheduling.com/schedule.php?owner=19202093">Register for
                    class</a></h2>
              </div>
            </div>
          </div>



          <div class="container" id="copyright_cpg">
            <div class="row">

              <div class="col-6">
                <a href="/">© 2022 ADJ Driver Improvement Center</a>
                <br>
                <a href="http://www.cpgdev.net">cpg development</a>
              </div>
              <div class="col-2">
                <a href="https://www.twitter.com/ADJ_Woodbridge">
                  <i class="fa fa-twitter fa-3x"></i>
                </a>
              </div>
              <div class="col-2">
                <a href="https://www.linkedin.com/in/adj-driver-improvement-center-632196b5">
                  <i class="fa fa-linkedin fa-3x"></i>
                </a>
              </div>
              <div class="col-2">
                <a href="https://www.facebook.com/ADJ-Driver-Improvement-Center-181645525214421/">
                  <i class="fa fa-facebook fa-3x"></i>
                </a>
              </div>

            </div>
          </div>

        </div>

</body>

</html>