<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>En Español</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/master.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
</head>

<body>

  <div class="container" id="header">
    <div class="row">

      <div class="col-4" id="col_1">
        <a href="/">
          <label class="class_header">Home</label>
        </a>
      </div>

      <div class="col-4" id="col_2">
        <a href="tel:+17037308525">
          <label class="class_header">Call Us</label>
        </a>
      </div>

      <div class="col-4" id="col_3">
        <a href="mailto:adj23@comcast.net">
          <label class="class_header">Email Us</label>
        </a>
      </div>

      <div>
      </div>

      <!-- body content -->

      <div class="container">
        <h1 class="display-5" id="class-page-header">Clases en Español</h1>
        <div class="grid">

          <div class="card class_card" id="espanol">
            <img class="card-img-top classes_images" src="/images/iconfinder_83_4863661.png" alt="Card image cap">
            <div class="card-body">
              <h3>Clases en Español</h3>
              <p> Por clases en español por favor llama al número
              <p><a href="tel:+15712851521">
                  <label class="label_no_padding">571 285-1521</label>
                </a>
              </p>

              <p>La Escula de Manejo ADJ en Woodbridge ofrece todas las clases para ayudar a las personas con el
                proceso de concesión de licencias. Para servir mejor a nuestra comunidad, ofrecemos algunas clases
                para quienes el español es su idioma principal.</p>
              <p><em>Clase de 3 Fallas/Clase del Manual del Conductor</em>
                Esta clase es para aquellos que están tratando de obtener un permiso de aprendiz y no han logrado
                pasar la parte de los signos de la prueba o el conocimiento general. Esta es también la clase para
                aquellos que han fallado su prueba 3 veces al intentar restablecer una licencia de conducir de
                Virginia suspendida o vencida.</p>
              <p><em>Examen Practico del DMV/ Clase de Bypass/evitar el DMV</em> ADJ Driver Improvement Center es un
                centro de pruebas de terceros para el DMV. Esta clase ayuda con el proceso de convertir un permiso
                de
                aprendiz de Virginia en una licencia de conducir. La finalización de esta clase le permite realizar
                pruebas con nuestro instructor en su idioma principal y evitar
                tener que tomar su Examen final de habilidades en carretera en el DMV. Esta clase también le permite
                omitir el período de retención de 60 días en un permiso de aprendizaje.</p>
              <p> Para obtener más información, comuníquese con nuestro instructor que habla español, Sr. Jean
                Carminati al<a href="tel:+15712851521" id="spanish_a_tag">
                  <label class="label_no_padding">571 285-1521</label></a>
                </a>Si no está disponible para responder, deje un mensaje y rápidamente le devolverá la llamada.</p>
              <p>NO OFRECEMOS clases de CDL o Motocicleta</p>

              <div>
                <h2 class="calendar"><a href="https://app.acuityscheduling.com/schedule.php?owner=19202093">Registrarse
                    para la clase</a></h2>
              </div>

              <!-- footer -->
          <div class="container" id="copyright_cpg">
            <div class="row">

              <div class="col-6">
                <a href="/">© 2026 ADJ Driver Improvement Center</a>
                <br>
                <a href="https://cpg.dev/">cpg development</a>
              </div>
              <div class="col-2">
                <a href="https://www.twitter.com/ADJ_Woodbridge">
                  <i class="fa fa-twitter fa-3x"></i>
                </a>
              </div>
              <div class="col-2">
                <a href="https://www.linkedin.com/in/adj-driver-improvement-center-632196b5">
                  <i class="fa fa-linkedin fa-3x"></i>
                </a>
              </div>
              <div class="col-2">
                <a href="https://www.facebook.com/ADJ-Driver-Improvement-Center-181645525214421/">
                  <i class="fa fa-facebook fa-3x"></i>
                </a>
              </div>

            </div>
          </div>
<!-- end footer -->

            </div>
          </div>
        </div>

      </div>

</body>

</html>