<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Failed Test 3x's</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/master.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
</head>

<body>

  <div class="container" id="header">
    <div class="row">

      <div class="col-4" id="col_1">
        <a href="/">
          <label class="class_header">Home</label>
        </a>
      </div>

      <div class="col-4" id="col_2">
        <a href="tel:+17037308525">
          <label class="class_header">Call Us</label>
        </a>
      </div>

      <div class="col-4" id="col_3">
        <a href="mailto:adj23@comcast.net">
          <label class="class_header">Email Us</label>
        </a>
      </div>

      <div>
      </div>

      <div class="container">
        <h1 class="display-5" id="class-page-header">Failed DMV Test 3 Times Class/Permit Class (On-Line)</h1>
        <div class="grid">


        </div>


      </div>

      <div class="card class_card" id="3-times">
        <img class="card-img-top classes_images" src="/images/driver-manual-icon.png" alt="Card image cap">
        <div class="card-body">
          <h3>Failed DMV Test 3 Times Class/Permit Class (On-Line)</h3>
          <p>If you have unfortunately failed a test at the Virginia DMV three times while trying to acquire a
            Learners Permit or reinstate your Driver License, this is the class that is required.
          </p>
          <p>The Driver Manual Course / 3 Failures Class needs to be 8 hours of instruction to satisfy the DMV’s
            requirements and is basically a highly concentrated study period. In this class we try to cover
            everything
            that could possibly be asked on the test, as well as preparing you to be as familiar as possible with
            the
            info contained in the DMV Manual.
          </p>
          <p>Our class is taken and completed entirely on-line and is self-paced. The class does not have to be
            completed at one time, you can complete as much or as little of the class in a day as you like. Once you
            have completed the 8 Hour Driver Manual/3 Failures Permit Class, you will have an unlimited number of
            chances to pass the test at the DMV.
          </p>
          <h3 style="padding-top:40px;">
            How to Register for the Class
          </h3>

          <ol>
            <li>
              <p>1. The first step is to register for the class by clicking “Register for class” at the bottom of
                this
                section.
              </p>
            </li>
            <li>
              <p>2. As soon as we receive your registration, we will send you a link to make your payment.
              </p>
            </li>
            <li>
              <p>
                3. Once payment is made for the class, we will send you a link so you can register and access
                the class
                anytime you like. The class is available for you to access 24 hours a day so that you may complete
                sections of the class whenever you are able to.
              </p>
            </li>
          </ol>

          </p>
          <p>As soon as your class is completed, we will send your completion certificate to your email as a PDF.
            This
            PDF must be downloaded to a computer or flash drive then printed. You can then take this certificate to
            the DMV and resume testing for your Learners Permit/License. At this point you will have as many
            opportunities to pass the test as needed.
          </p>

          <p>
            The cost of the class is a flat fee of $125.00 (no additional fees or taxes)
          </p>
          <p>
            We use PayPal to collect on-line payments, but you do not need a PayPal account. You can use any credit
            or debit card.
          </p>
          <h3 style="padding-top:40px;">
            Who is approved to take this online class?
          </h3>
          <p>
            This class is approved by the Virginia DMV for ALL ages.
          </p>
          <p>
            This class is primarily for those that are 18 years old and older.
          </p>
          <p>**If you are less than 18 years old and a required to take a class before returning to the DMV, you
            can take this 8-hour Driver manual class if you have completed the 36 Hour classroom portion of Driver
            Education in High school. Proof that you have completed the 36-hour classroom is required if you are
            younger than 18, you would need the “PINK Classroom Completion Certificate”. This is the certificate
            that should have been issued upon completion of the 36-hour classroom when you were in 10th grade. If
            you need one re-issued, the high school P.E. department will usually issue you a duplicate if
            necessary.
          <h3 style="padding-top:40px;">
            Please do not hesitate to call us or send us an email if you have any questions! We are a local small
            business, and your calls are answered by the staff of ADJ Driver Improvement Center.
          </h3>
          <div>
            <h2 class="calendar"><a href="https://app.acuityscheduling.com/schedule.php?owner=19202093">Register for
                class</a></h2>
          </div>

        </div>
      </div>
    </div>
  </div>



  <!-- footer -->
  <div class="container" id="copyright_cpg">
    <div class="row">

      <div class="col-6">
        <a href="/">© 2025 ADJ Driver Improvement Center</a>
        <br>
        <a href="https://cpg.dev/">cpg development</a>
      </div>
      <div class="col-2">
        <a href="https://www.twitter.com/ADJ_Woodbridge">
          <i class="fa fa-twitter fa-3x"></i>
        </a>
      </div>
      <div class="col-2">
        <a href="https://www.linkedin.com/in/adj-driver-improvement-center-632196b5">
          <i class="fa fa-linkedin fa-3x"></i>
        </a>
      </div>
      <div class="col-2">
        <a href="https://www.facebook.com/ADJ-Driver-Improvement-Center-181645525214421/">
          <i class="fa fa-facebook fa-3x"></i>
        </a>
      </div>

    </div>
  </div>
<!-- end footer -->

  </div>

</body>

</html>