<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>In Car</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/master.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
</head>

<body>

  <div class="container" id="header">
    <div class="row">

      <div class="col-4" id="col_1">
        <a href="/">
          <label class="class_header">Home</label>
        </a>
      </div>

      <div class="col-4" id="col_2">
        <a href="tel:+17037308525">
          <label class="class_header">Call Us</label>
        </a>
      </div>

      <div class="col-4" id="col_3">
        <a href="mailto:adj23@comcast.net">
          <label class="class_header">Email Us</label>
        </a>
      </div>

      <div>
      </div>

      <div class="container">
        <h1 class="display-5" id="class-page-header">In-Car Driver Training</h1>
        <div class="grid">


          <div class="card class_card" id="in-car">
            <img class="card-img-top classes_images"
              src="/images/iconfinder_Driver_License-Id-License-Transport-Identification_5917197.png"
              alt="Card image cap">
            <div class="card-body">
              <h3>In-Car Driver Training</h3>
              <p>At ADJ Driving School in Woodbridge, VA, we provide in-car training for both adults & teenagers.
                With these classes, our main goal is to prepare you for driving in one of the most populated areas
                in
                the country.
                The Virginia DMV separates these drivers into two categories and the requirements for each are very
                different.
              </p>
              <p>Teenagers (Minors) Age 15- 17
                These students are required to hold a learners permit for 9 months, and are required to take both
                the
                36 period classroom component of driver education as well as the 14 period in-car component.
              </p>
              <p>The Classroom component is usually offered in public school during 10th grade health/P.E. Upon
                completion of this class you must also complete a 90- minute seminar with a parent. Once you have
                completed these two requirements you should be issued a “PINK Classroom Completion Certificate”.
                ***You must have your “PINK Classroom Completion Certificate” in hand to start the In-Car/Behind the
                Wheel portion.***
                The Behind the Wheel/In-Car portion of Driver Education must contain 7 – 50 minute periods of
                driving
                and 7 – 50 minute periods of observation. Each student receives 1 – 50 minute period of driving and
                1-50 minute period of observation per session. The class will usually be comprised of 7 -2 hour
                classes. The price of Behind The Wheel for teenagers is $275.00. If you have a question, please do
                not
                hesitate to call our office at 703 730-8525.
              </p>
              <p>Adults – Age 18 & Older
                If you are interested in receiving some instructional driving or would like to take (what is
                typically
                referred to as a Bypass-Class), we do offer these services as well. Students 18 & older are
                typically
                required to hold a Learners Permit for 60 days. The only exception to this rule is to complete a
                Bypass
                Class/Adult Waiver Class.
              </p>
              <p>Instructional Driving
                This is a package deal that will help to prepare you for your Final Road Examination/Driving Test at
                the DMV. We offer SIX hours of instruction for $275.00 or EIGHT hours of instruction for $350.00.
                These
                classes will typically be broken up into 4-6 lessons of about 1.5 hours per lesson.
              </p>
              <p>Bypass Class
                If you would like to Bypass the 60 Day holding for a learners permit or just avoid having to take
                your
                final road examination at the DMV you must complete the same requirements of driver education that a
                teenager would need to complete. This class consists of 12 hours of one on one instruction, as well
                as
                our instructor providing the Final Road Examination. When the student completes the required time
                and
                road test successfully, they will be issued a DMV Adult Waiver. The DMV Adult Waiver allows you to
                avoid holding your learners permit for 60 days as well as avoiding the final road examination at the
                DMV. The cost of this class is $450.00. If you have any questions, please don not hesitate to call
                our
                office at 703 730-8525.
              </p>
              <div>
                <h2 class="calendar"><a href="https://app.acuityscheduling.com/schedule.php?owner=19202093">Register
                    for
                    class</a></h2>
              </div>
            </div>
          </div>



           <!-- footer -->
           <div class="container" id="copyright_cpg">
            <div class="row">

              <div class="col-6">
                <a href="/">© 2024 ADJ Driver Improvement Center</a>
                <br>
                <a href="https://cpg.dev/">cpg development</a>
              </div>
              <div class="col-2">
                <a href="https://www.twitter.com/ADJ_Woodbridge">
                  <i class="fa fa-twitter fa-3x"></i>
                </a>
              </div>
              <div class="col-2">
                <a href="https://www.linkedin.com/in/adj-driver-improvement-center-632196b5">
                  <i class="fa fa-linkedin fa-3x"></i>
                </a>
              </div>
              <div class="col-2">
                <a href="https://www.facebook.com/ADJ-Driver-Improvement-Center-181645525214421/">
                  <i class="fa fa-facebook fa-3x"></i>
                </a>
              </div>

            </div>
          </div>
<!-- end footer -->

        </div>

</body>

</html>