<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>In Person</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/master.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
</head>

<body>

  <div class="container" id="header">
    <div class="row">

      <div class="col-4" id="col_1">
        <a href="/">
          <label class="class_header">Home</label>
        </a>
      </div>

      <div class="col-4" id="col_2">
        <a href="tel:+17037308525">
          <label class="class_header">Call Us</label>
        </a>
      </div>

      <div class="col-4" id="col_3">
        <a href="mailto:adj23@comcast.net">
          <label class="class_header">Email Us</label>
        </a>
      </div>

      <div>
      </div>

      <div class="container">
        <h1 class="display-5" id="class-page-header">In-Person Driver Improvement Class</h1>
        <div class="grid">

          <div class="card class_card">
            <img class="card-img-top classes_images"
              src="/images/iconfinder_Speeding_Ticket-speed-policing-law-enforcement_4498991.png" alt="Card image cap">
            <div class="card-body">
              <h3 class="classes-header">In-Person Driver Improvement Class</h3>
              <p>At ADJ Driver Improvement Center in Woodbridge, Virginia, we try to make your Driver Improvement
                Clinic experience as easy as possible. All Driver Improvement Clinics are $65.00, regardless of the
                format you choose. We are one of the few schools that have a dedicated office with multiple classrooms,
                therefore we never have to cancel our classes. If you find that you need a class last minute or maybe
                you have just procrastinated…… Come on in, walk-ins are always welcome!</p>
              <p>In-Person Classes: We offer in-person Driver Improvement Clinics as one-day classes, on Saturday or
                Sunday. We also offer a full eight hour class during the week on a Wednesday.</p>
              <p>Saturday or Sunday Classes: We offer Driver Improvement classes every Saturday and every other Sunday.
                These classes are one-day classes, they begin at 8:30 a.m. and finish at 5:00 p.m. All components of
                the class, including the final exam and certificate are handled in- house, same day. When you leave our
                class, you have everything you need, in-hand.</p>
              <p>Wednesday Classes: We offer Driver Improvement Classes on Wednesdays, twice each month. These classes
                are one-day classes,they begin at 8:30 a.m. and finish at 5:00 p.m. Just like our weekend classes, all
                components of this class including the final exam and certificate are handled in-house.</p>
              <p>Please check our schedule below for upcoming classes</p>
              <p>The Virginia Driver Improvement Clinic is a program that will award you 5 safe driving points upon
                completion. You may also participate in a class under the advisement of a judge, to reduce or dismiss a
                ticket. You may need to complete a class if any of the reasons below apply:</p>
              <p>DMV:
                You have received a letter in the mail from the DMV requiring you to take a Driver Improvement Clinic
                or Defensive Driving Class at an approved driving school within 90 days or your license will be
                suspended. Completion and submission of the class from an approved driving school before your due date
                ensures uninterrupted driving privileges and relieves you from paying the $175.00 re-instatement fee.
                You are trying to re-instate your license or your ability to get a license.</p>
              <p>Court:
                You have ALREADY been to court and have been given the option of taking an approved Driver Improvement
                Course at a driving school of your choice to have your ticket dismissed or reduced.</p>
              <p>Voluntary:
                You would like to lower the points on your driving record for personal reasons like a job opportunity
                or for insurance requirements. You are eligible to voluntarily take the class every two years.
                On your own or with legal advisement you have decided to take a Driver Improvement Class before or
                after a court appearance.</p>
              <p>*All requirements of the Driver Improvement Course are completed the same day of class AND completion
                certificate is issued the same day. We electronically file all DMV required and Voluntary completion of
                class with the Department of Motor Vehicles.*</p>
              <p>Walk-ins are always welcome.
                (don’t forget your Driver’s License, course fee is collected in cash or money order only)</p>
              <br>
              <div>
                <h2 class="calendar"><a href="https://app.acuityscheduling.com/schedule.php?owner=19202093">Register for
                    class</a></h2>
              </div>

            </div>
          </div>


        </div>
      </div>



      <!-- footer -->
      <div class="container" id="copyright_cpg">
        <div class="row">

          <div class="col-6">
            <a href="/">© 2026 ADJ Driver Improvement Center</a>
            <br>
            <a href="https://cpg.dev/">cpg development</a>
          </div>
          <div class="col-2">
            <a href="https://www.twitter.com/ADJ_Woodbridge">
              <i class="fa fa-twitter fa-3x"></i>
            </a>
          </div>
          <div class="col-2">
            <a href="https://www.linkedin.com/in/adj-driver-improvement-center-632196b5">
              <i class="fa fa-linkedin fa-3x"></i>
            </a>
          </div>
          <div class="col-2">
            <a href="https://www.facebook.com/ADJ-Driver-Improvement-Center-181645525214421/">
              <i class="fa fa-facebook fa-3x"></i>
            </a>
          </div>

        </div>
      </div>
<!-- end footer -->

    </div>

</body>

</html>