<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ADJ Driver Improvement Center</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/flexbox.css">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</head>

<body>

 
 <div class="section">
  <div class="container">
    <h1 class="display-4">Collections</h1>
    <div class="grid">
      
      <div class="card">
        <img class="card-img-top" src="#" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Paintings</h5>
          <a href="#">KSW series</a>
          <a href="#">GreatLakes series</a>
          <a href="#">Landcape series</a>
        </div>
      </div>

  <div class="card">
      <img class="card-img-top responsive-image" src="#" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Photographs</h5>
    <a href="#">Automotive prints</a>
    <a href="#">Organic prints</a>
    <a href="#">Railway prints</a>
  </div>
</div>

<div class="card">
  <img class="card-img-top" src="#" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Digital Prints</h5>
    <a href="#">Baghdad series</a>
    <a href="#">Collage series</a>
    <a href="#">Pop Art series</a>
  </div>
</div>
      
</div>

</body>
</html>
