<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online Driver</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/master.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Patua+One&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
</head>

<body>

  <div class="container" id="header">
    <div class="row">

      <div class="col-4" id="col_1">
        <a href="/">
          <label class="class_header">Home</label>
        </a>
      </div>

      <div class="col-4" id="col_2">
        <a href="tel:+17037308525">
          <label class="class_header">Call Us</label>
        </a>
      </div>

      <div class="col-4" id="col_3">
        <a href="mailto:adj23@comcast.net">
          <label class="class_header">Email Us</label>
        </a>
      </div>

      <div>
      </div>

      <div class="container">
        <h1 class="display-5" id="class-page-header">Online Driver Improvement Class</h1>
        <div class="grid">


        </div>

        <div class="card class_card" id="online">
          <img class="card-img-top classes_images"
            src="/images/iconfinder_online_course_teaching-study-class-learning_5867932.png" alt="Card image cap">
          <div class="card-body">
            <h3>Online Driver Improvement Class</h3>
            <p>
              Our class is approved for all ages by the Virginia DMV.
            </p>
            <p>ADJ Driver Improvement Center in Woodbridge, Virginia offers a convenient online Driver Improvement
              Clinic that is approved by the Virginia Department of Motor Vehicles and accepted by all courts that
              will allow online classes. Taking your Driver Improvement Course with us ensures that your traffic
              school experience is handled efficiently and correctly the first time.</p>
            <p><em>All requirements for our online class are handled in two easy steps: Complete your online class
                WHEREVER and WHENEVER you please, then complete the test ONLINE and receive your completion
                certificate.</em> </p>
            <p>Our online driver improvement class works on all devices for added convenience.</p>
            <p>Our class is a flat fee of $65.00 (no taxes and no extra “certificate or processing fees”) and can be
              paid using PayPal. You do not need a PayPal account, you are able to use any credit or debit card by
              selecting “Pay with Credit or Debit Card”.</p>
            <p>We notify DMV of all Voluntary and DMV mandated class completions. Completion is electronically filed
              with-in 24 hours. Completion cannot be filed until the test is completed and the class is paid for using
              PayPal.
            </p>
            <p>
              If you do not pass your final exam, DMV requires a 24 wait until you may test again. There are no
              additional fees for re-testing.
            </p>

          </div>
        </div>


      </div>
    </div>



    <!-- footer -->
    <div class="container" id="copyright_cpg">
      <div class="row">

        <div class="col-6">
          <a href="/">© 2026 ADJ Driver Improvement Center</a>
          <br>
          <a href="https://cpg.dev/">cpg development</a>
        </div>
        <div class="col-2">
          <a href="https://www.twitter.com/ADJ_Woodbridge">
            <i class="fa fa-twitter fa-3x"></i>
          </a>
        </div>
        <div class="col-2">
          <a href="https://www.linkedin.com/in/adj-driver-improvement-center-632196b5">
            <i class="fa fa-linkedin fa-3x"></i>
          </a>
        </div>
        <div class="col-2">
          <a href="https://www.facebook.com/ADJ-Driver-Improvement-Center-181645525214421/">
            <i class="fa fa-facebook fa-3x"></i>
          </a>
        </div>

      </div>
    </div>
<!-- end footer -->

  </div>

</body>

</html>